.container{
    margin-top: 20px;
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
    gap: 10px;

}

.caja{
    width: 15rem;
    height: 591px;
    margin: auto;    
    border: 1px solid grey;
    padding: 1rem;
}


