.container{
    margin-top: 20px;
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
    gap: 10px;

}

.caja{
    /* width: 15rem; */
    height: 591px;
    padding: 0rem !important;   
    background-color: white;
    
}


body{
    background-color: #E6E6DC;
}

.letraBlanca{
    color: #E6E6DC;
}

.color2{
    background-color: #518354;
}
.color3{
    background-color: #688A87;
}

.color4{
    background-color: #1F2722;
}

.loginDiv{
    background-color: white;
    border-radius: 10px;
}
.article-planta{
    display: flex;

}