{% extends 'nav.html' %}
{% load static %}
    {% block styles %}
    <link rel="stylesheet" href="{% static 'index.css' %}">
    {% endblock styles %}

    {% block titulo %}
    <title>Trofico</title>
    {% endblock titulo %}


    {% block content %}

    <div class="container">
        {% for x in plantas %}
        <div class="caja shadow p-3 mb-5 bg-body rounded-3">
            
            <h2>{{ x.nombre }}</h1>
            <h3>Descripcion:</h3>
            <p>{{x.descripcion}}</p>
            <h3>Ubicación: {{x.ubicacion}}</h3>
            <h3>Historial:</h3>
                {% for i in registros|slice:"0:6" %}
                    {% if i.planta_id == x.id %}
                    <p>Fecha: {{i.fecha}}</p>
                    <p>Humedad: {{i.humedad}}</p>
                    {% endif %}
                {% endfor %}
            <button class="btn btn-secondary">Editar</button>
            
        </div>
        {% endfor %}
    </div>
    {% endblock content %}



