{% extends 'nav.html' %}
{% load static %}
    {% block styles %}
    <link rel="stylesheet" href="{% static 'index.css' %}">
    {% endblock styles %}

    {% block titulo %}
    <title>Trofico</title>
    {% endblock titulo %}


    {% block content %}

    <div>
        <section class="container" >
            {% for x in plantas %}
            <article class="row bg-body mt-5" style="min-height: 730px;">
                <section class="col-4 ">
                    <img class="card-img-top" src="{% static 'img/planta.webp' %}" alt="Card image cap">
                    <hr>
                    <h5 class="card-title">{{ x.nombre }}</h5>
                    <p class="card-text">{{x.ubicacion}}</p>
                    {% if bool %}
                    <p>Falta riego</p>
                    {% else %}
                    <div class="row">
                        <div class="col-10">
                            <p>No necesito riego c:</p>
                        </div>
                        <div class="col-2">
                            <img src="{% static 'img/smile.svg' %}" alt="" style="width: 50px;">
                        </div>
                    </div>
                    {% endif %}
                    <hr>
                    <p class="card-text"> <strong>Humedad:</strong> {{datos2}}% </p>
                </section>
                <section id="chart-container" class="col-8" style="width: 880px; height: 400px;">
                    <canvas id="chart"></canvas>
                    <hr>
                    <h5>Registro de Humedad</h5>
                    <ul class="list-group list-group-flush">
                        {% for i in registros%}
                        {% if i.planta_id == x.id %}
                        <li class="list-group-item">{{ i.fecha }} {{ i.humedad }}%</li>
                        {% endif %}
                        {% endfor %}
                    </ul>
                </section>
            </article>
        </section>
            {% endfor %}
    </div>    
        {% endblock content %}
    
    

