<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>plantas</h1>
    <p></p>
    {% for x in plantas %}
        <h2>{{ x.nombre }}</h2>
        <p>Ubicacion: {{x.ubicacion}}</p>
        
        <h3>Registros</h3>
        {% for i in registros %}
        {% if i.planta_id == x.id %}
            <p>{{i.fecha}} || Humedad:{{i.humedad}}</p>
        {% endif %}
        {% endfor%}
    {% endfor %}
</body>
</html>